name: PHP CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      # Action gives to setup the PHP environment to test application
      # https://github.com/shivammathur/setup-php
      uses: shivammathur/setup-php@v1
      with:
        # Specify the PHP version
        php-version: '7.3'

    - name: Install dependencies
      run: make install
    
    - name: Lint
      run: make lint
